.project-page {
  z-index: 1;

  .project-footer {
    margin-top: 4em;
    .portfolio-project-list {
      flex-flow: row;
      margin: 0;
      max-width: 50vw;
      overflow: hidden;

      .project-preview {
        height: auto !important;
        img {
          max-height: 124px;
        }
      }
    }
  }
}
