<div class="portfolio-project" ngClass="{{viewClass}}">

  <section *ngIf="view === 'page-content'">
    <div class="project-content-wrapper">
      <div class="project-description">
        <h1>{{ project?.name }}</h1>

        <p>{{ project?.description }}</p>

        <a class="btn-visit" href="{{ project?.url }}" target="_blank" mat-raised-button color="accent" *ngIf="project?.url">Visit</a>
      </div>

      <ng-content select=".project-footer"></ng-content>
    </div>

    <div class="project-preview">
      <figure>
        <img src="" [app-img-load]="project?.thumbnails?.large"/>
      </figure>
    </div>
  </section>


  <section *ngIf="view === 'small-preview' || view === 'see-other-projects'">
    <a [routerLink]="[project?.id]"
       class="project-preview">
      <figure>
        <img src="{{ project?.thumbnails?.medium }}"/>
        <figcaption>{{ project?.name }}</figcaption>
      </figure>
    </a>
  </section>
</div>
