<div class="portfolio-project-list" [ngClass]="view">
  <section *ngIf="view !== 'see-other-projects'">
    <app-portfolio-project
      *ngFor="let project of projects"
      [instance]="project"
      [view]="view"></app-portfolio-project>
  </section>

  <section *ngIf="view === 'see-other-projects'">
    <ngx-carousel
      [inputs]="carouselOptions"
      [inputsLength]="projects?.length">
      <ngx-item *ngFor="let project of projects">
        <app-portfolio-project [instance]="project" [view]="view"></app-portfolio-project>
      </ngx-item>
      <button class="leftRs">
        <
      </button>
      <button class="rightRs">
       >
      </button>
    </ngx-carousel>
  </section>
</div>
