<div class="portfolio-project" ngClass="{{viewClass}}">

  <div class="project-description"
       *ngIf="view === 'page-content'">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.description }}</p>
    <ng-content select=".project-footer"></ng-content>
  </div>

  <div
    *ngIf="view === 'page-content'"
    class="project-preview">
    <figure>
      <img src="" [app-img-load]="project?.thumbnails?.large"/>
    </figure>
  </div>

  <a *ngIf="view === 'small-preview' || view === 'see-other-projects'"
     [routerLink]="['/project', project?.id]"
     class="project-preview">
    <figure>
      <img src="{{ project?.thumbnails?.medium }}"/>
      <figcaption>{{ project?.name }}</figcaption>
    </figure>
  </a>
</div>
