.portfolio-project {

  &.type-preview {
    .project-description {
      display: none;
    }

    .project-preview {
      position: relative;
      display: block;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        cursor: pointer;

        transition: all .256s ease-out;
      }

      img {
        display: block;
        width: 100%;
      }

      &:hover {
        &:after {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }

  }

  &:not(.type-preview) {
    display: flex;
    width: 100%;
    & > .project {
      &-description, &-preview {
        transition: all .2s linear;
      }

      &-description {
        padding: 1em;
        max-width: 50%;
      }

      &-preview {
        pointer-events: none;
        animation: portfolio-project-preview 2s infinite;

        img {
          height: 100vh;

          @media (max-width: 1200px) {
            padding: 20px;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .project-description {
        max-width: 100%;
      }
      .project-preview {
        order: -1;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      flex-wrap: wrap;
    }

  }

}

@keyframes portfolio-project-preview {
  0% {
    background-color: #e6e6e6;
  }
  50% {
    background-color: #ccc;
  }
  0% {
    background-color: #e6e6e6;
  }
}
