<div class="app-root mat-typography">
  <nav>
    <figure class="logo">Ivan Rohozhnikov</figure>
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a mat-button routerLink="/gallery" routerLinkActive="active">Gallery</a>
  </nav>

  <main [@routeAnimation]='prepareRoute(outlet)' [@pageLoaderAnimation]="loader.state$ | async">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>

  <mat-spinner class="app-page-loader-spinner" color="accent" [@pageLoaderSpinnerAnimation]="loader.state$ | async"></mat-spinner>
</div>
