@import './app.theming.scss';

$shutter-bg: map-get($app-primary, 100);
$shutter-bg-darken: map-get($app-primary, 800);

$app-accent-color: map-get($app-accent, 800);
$app-accent-darker-color: map-get($app-accent, 700);

nav {
  background-color: $accent-color;
  padding: 8px 16px;
  color: hsla(0,0%,100%,.87);

  .logo {
    margin-right: 1em;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    pointer-events: none;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: relative;
  z-index: 1000;

  a {
    transition: color .3s linear;
    &.active {
      color: #fff;
    }
  }
}


.app-root {
  .app-page-loader-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    opacity: 0;
  }

  .app-img-load {
    opacity: 0;
    transition: opacity .3s linear;

    &.img-loaded {
      opacity: 1;
    }
  }

  & {
    [app-page-loader] {
      opacity: 0;
      transition: opacity .3s linear;
    }

    &.page-loaded {
      [app-page-loader] {
        opacity: 1;
      }
    }

    &.no-transition {
      [app-page-loader] {
        transition: none;
      }

    }

  }

}

.rolling-shutter {
  position: fixed;

  left: 0;
  top: calc(-100% + 40px);
  cursor: pointer;

  transition: top .5s ease-out, background-color .3s ease-out;

  width: 100vw;
  height: 100vh;

  background-color: $shutter-bg-darken;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  z-index: 100;



  &:focus, &:active {
    outline: none !important;
  }

  &:after {
    content: 'Hire me';
    text-transform: uppercase;
    color: #ffffff;

    position: absolute;
    bottom: 0.5em;
    left: 50%;

    //border-left: 32px solid transparent;
    //border-right: 32px solid transparent;
    //border-top: 32px solid $shutter-bg-darken;

    animation: home-page-rolling-shutter-jump 1s ease-in-out infinite;
  }

  &:hover:after {
    animation-duration: .75s;
  }
}

.shutter-expanded {
  overflow-y: hidden;
  height: 100vh;

  .rolling-shutter {
    background-color: $shutter-bg;

    top: 0;
    cursor: default;

    &:after {
      opacity: 0;
    }
  }
}

@keyframes home-page-rolling-shutter-jump {
  0% {
    transform: translate(-50%, 0%);
  }
  50% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
